<button type="button" id="loginButton"> login</button>
<button type="button" id="registerButton"> register</button>
<script type="text/javascript">
  
  document.getElementById("loginButton").onclick = function(){
    location.href="/login";
  };
  document.getElementById("registerButton").onclick = function(){
    location.href="/register";
  };
</script>