<div class="userPage" >
  <button class="button"  onclick="">Home</button>
  <button class="button"  onclick="openCity('Paris')">Notifications</button>
  <button class="button"  onclick="openCity('Tokyo')">Complaints</button>
</div>
