body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#logo {
    max-width: 100%;
    height: auto;
    width: auto; 
    padding: 20px;
}

#heading{
    font-size: 8vw;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#map {
    height: 100%;
  }
#test{
    background: #e5eecc;
}

/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    .hidden-mb{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
    .hidden-mb{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    .hidden-mb{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }    
}

/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
*/
/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    /*padding: 14px 20px;*/
    margin: 8px 0;
    border: transparent;
    border-width: thin;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.form{
    width: 350px;
    height: 450px;
    /*margin-left: 483px;
    margin-right: 483px;*/

}

* {box-sizing:border-box}

.label{
  background-color: transparent; 
}
/*.userPage{
  margin-top: 0px;
  background-color: black;
  height: 48px;
}*/
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: 100%;
    margin-top: 55px;
}

/*.container .btn {
    width: 188px;
    height: 34px;
    border:solid;
    position: absolute;
    top: 295px;
    left: 295px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@media screen and (max-device-width: 600px) and (min-device-width: 0px){
  .container .btn{
    width: 100px;
    height: 5px;
    border:solid;
    top: 178px;
    left: 157px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
}*/