body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#back{
    padding-left: 0px;
    padding-top:0px;
    padding-right:0px;
    height: 50px;
    background-color: black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}
.div{
    align-content: center;
    width: 100%;
    height: 50%;
    
}

#login{
    width: 79.09px;
    height: 24px;
    margin-left: 0%;
    margin-bottom:10%;
    border: solid 1px #000000;

}
#map {
    height: 100%;
  }
#test{
    background: #e5eecc;
}
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: transparent;
    border-width: thin;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


.navbar-inverse{
    height: 50px;
}

.form{
    width: 400px;
    height: 450px;
    margin-left: 483px;
    margin-right: 483px;

}
//css for homepage
* {box-sizing:border-box}

.label{
  background-color: transparent; 
}
.userPage{
  margin-top: 0px;
  background-color: black;
  height: 48px;
}
.navbar.navbar-inverse{
  margin-bottom: 0px;
}
